<div class="guests">
  <div class="container">
    <div class="top" sticky sticky-class="active" media-query="min-width: 768px">
      <div class="line bgChange"></div>
      <h2>Organizatori</h2>
      <div class="arrows">
        <a class="first hoverChange" ng-click="main.scrollTo('win')">Scroll down <span class="icon-arrow_down colorChange"></span></a>
        <a class="second hoverChange" ng-click="main.scrollTo(0)">Scroll up <span class="icon-arrow_up colorChange"></span></a>
      </div>
    </div>
    <div class="about">
      <div class="text">
        <h3 class="colorChange">Festival</h3>
        <h4 class="colorChange">MOP 4 je četvrto izdanje MOP Festivala multimedije u Varaždinu kroz koji se promiče multimedija, oblikovanje i primjena.</h4>
        <p>Program Festivala najviše je povezan s multimedijom i digitalnom kulturom, pri čemu se nastoji aktivirati što veći broj studenata, predavača, dizajnera, multimedijalnih umjetnika, glazbenika i ostalih kreativaca kako bi se međusobno razmijenila znanja i povećali potencijali. Osim edukativnog dijela, Festival svim posjetiteljima nudi zabavni program uz mnogo komunikacije i međusobnog druženja.</p>
      </div>
      <div class="img">
        <img src="img/onama.jpg" alt="">
      </div>
      <div class="text">
        <h3 class="colorChange">Udruga mop</h3>
        <h4 class="colorChange">Organizator festivala je udruga MOP koju čine sadašnji i bivši studenti Sveučilišta Sjever. Udruga djeluje od 2014. godine.<h4>

        <p>Cilj Udruge je razvoj studentske zajednice kroz promicanje multimedije i digitalne kulture. Udruga nastoji aktivirati studente kroz projekte koji obuhvaćaju kreativni razvoj, audio-vizualnu umjetnost, dizajn interakcija, vizualnu komunikaciju, multimedijalnu produkciju i oblikovanje.</p>
      </div>
      <div class="links">
        <div class="left"><h3>TEAM</h3></div>
        <div class="right">
          <p><a class="hoverChange" href="">Fran Mubrin</a>, <a class="hoverChange" href="">Igor Pičuljan</a>, <a class="hoverChange" href="">Anja Kralj</a>, <a class="hoverChange" href="">Mihael Miklošić</a>, <a class="hoverChange" href="">Luka Marčec</a>, <a class="hoverChange" href="">Matija Moharić</a>, <a  class="hoverChange" href="">Dino Trojak</a>, <a class="hoverChange" href="">Oliver Potočnik</a>, <a class="hoverChange" href="">Dario Črnila</a>, <a class="hoverChange" href="">Dunja Terzić</a></p>
        </div>
      </div>
      <div class="img">
        <img src="img/onama2.jpg" alt="">
      </div>
      <div class="contact">
        <p>TEL: <span class="colorChange">095 513 7795</span></p>
        <p>EMAIL: <span class="colorChange">mopfest@gmail.com</span></p>
      </div>
    </div>
  </div>
  <div ng-include src="'main/views/footer.html'"></div>
</div>
