@import "utils/colors";
@import "utils/fonts";
@import "utils/responsive";

.location{
  p{
    color:$dorado;
    font-size:13px;
    @include publico-bold;
  }
  h3{
    font-size:36px;
    line-height: 1.3;
    @include publico-bold;
    @include breakpoint(md) {
      font-size:30px;
    }
  }
  h4{
    line-height: 1.5;
    font-size:20px;
  }
  img{
    opacity:.5;
    transition:opacity .3s;
    &:hover{
      opacity:1;
    }
  }
  .loc{
    @include breakpoint(xs) {
      display:none;
    }
    img{
      width: 100%;
    }
  }
  .firstSec{
    width: 50%;
    float:right;
    padding-top:60px;
    @include breakpoint(md) {
      width: 100%;
      float:left;
    }
    @include breakpoint(xs) {
      margin-bottom:50px;
    }
    p{
      text-transform:uppercase;
      margin-bottom:10px;
    }
    h3{
      margin-bottom:20px;
    }
  }
  .loc{
    float:left;
    @include breakpoint(md) {
      margin-top:50px;
    }
  }
  .imgs{
    position:relative;
    margin-top:20px;
    width: 100%;
    float:left;
    padding-bottom:260px;
    @include breakpoint(md) {
      padding-bottom:0;
    }
    .img{
      position:relative;
      background: $black;
      width: 60%;
      @include breakpoint(md) {
        width:100%;
      }
      p{
        position:absolute;
        right:0;
        top:-25px;
        @include breakpoint(md) {
          left:0;
          right:auto;
        }
      }
      img{
        width: 100%;
        opacity:.5;
        transition:opacity .3s;
        &:hover{
          opacity:1;
        }
      }
    }
    .second{
      position:absolute;
      margin-top:-150px;
      right:0;
      @include breakpoint(md) {
        position:relative;
        margin-top:40px;
      }
    }
  }
  .fun{
    width: 100%;
    float:left;
    margin-top:70px;
    p{
      text-transform:uppercase;
      margin-bottom:10px;
    }
    h3{
      margin-bottom:20px;
    }
    h4{
      width: 50%;
      @include breakpoint(md) {
        width: 100%;
      }
    }
    img{
      width: 100%;
      margin-top:70px;
    }
  }
  .map{
    width: 100%;
    float: left;
    margin-top:100px;
    @include breakpoint(md) {
      margin-top:60px;
    }
    img{
      opacity:1;
    }
    p{
      line-height: 1.5;
    }
    ul{
      margin-top:60px;
      @include breakpoint(md) {
        margin-top:20px;
      }
    }
    li{
      float:left;
      width: 16.5%;
      height: 75px;
      border-left:1px solid $green;
      padding-left:40px;
      padding-top:20px;
      @include breakpoint(md) {
        padding-left:20px;
      }
      @include breakpoint(sm) {
        width: 33.33%;
      }

    }
    .gmap{
      float:left;
      width: 100%;
      margin-top:60px;
      .angular-google-map-container {
        height: 590px;
        @include breakpoint(md) {
          height: 300px;
        }
      }
    }
  }
}
