@import "utils/reset";
@import "utils/colors";
@import "utils/fonts";
@import "utils/responsive";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background:$black;
  color:$green;
  @include publico-normal;
}
.container{
  width: 1100px;
  margin:0 auto;
  @include breakpoint(lg) {
    width: 90%;
  }
}
a{
  cursor:pointer;
  transition:color .3s;
  &:hover{
    color:$green!important;
  }
}
.mop2015{
  &.blue{
    .guests{
      a{
        &:hover{
          h3{
            color:$blue!important;
          }
        }
      }
    }
    .borderChange{
      border-color:$blue!important;
    }
    .bgChange{
      background:$blue!important;
    }
    .colorChange{
      color: $blue!important;
    }
    .hoverChange{
      transition:color .3s;
      &:hover{
        color: $blue!important;
      }
    }
  }
  &.red{
    .guests{
      a{
        &:hover{
          h3{
            color:$red!important;
          }
        }
      }
    }
    .borderChange{
      border-color:$red!important;
    }
    .bgChange{
      background:$red!important;
    }
    .colorChange{
      color: $red!important;
    }
    .hoverChange{
      transition:color .3s;
      &:hover{
        color: $red!important;
      }
    }
  }
}
.footer{
  float:left;
  height: 95px;
  width: 100%;
  margin-top:50px;
  .black{
    background: black;
  }
  .foot{
    margin:50px 0;
    .tag{
      float:left;
      color:#373737;
      font-size:20px;
      text-decoration:none;
    }
    .old{
      float:right;
      li{
        float:left;
        margin-left:25px;
        height: 25px;
        &.divider{
          width: 1px;
          height: 25px;
          background: $green;
        }
        a{
          color:#373737;
          font-size:20px;
          line-height: 25px;
          text-decoration:none;
          @include breakpoint(xs) {
            font-size:18px;
          }
        }
      }
    }
  }
  p{
    color:#373737;
    @include breakpoint(md) {
      margin-top:20px;
    }
    @include breakpoint(xs) {
      margin-top:20px;
      font-size:12px;
    }
    a{
      color:#373737;
      text-decoration:none;
      transition:color .3s;
      line-height: 95px;
      @include breakpoint(md) {
        line-height: 2;
      }
      &:hover{
        color:white;
      }
    }
  }
  .ab{
    float:left;
    @include breakpoint(xs) {
      margin-bottom:10px;
      font-size:14px;
    }
  }
  .social{
    float:right;
    margin:0;
    padding:0;
    @include breakpoint(md) {
      float:left;
      margin-bottom:20px;
    }
    li{
      float:left;
      margin-left:20px;
      @include breakpoint(md) {
        margin-left:0;
        margin-right:20px;
        margin-bottom:12px;
      }
      @include breakpoint(xs) {
        margin-right:10px;
      }
      a{
        color:#373737;
        text-decoration:none;
        transition:color .3s;
        line-height: 95px;
        @include breakpoint(md) {
          line-height: 2;
        }
        @include breakpoint(xs) {
          font-size:12px;
        }
        &:hover{
          color:white;
        }
      }
    }
  }
}
.home{
  .head{
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    background:black;
    a{
      text-decoration:none;
    }
    .navigation{
      position:fixed;
      width: 0;
      height: 130px;
      left:70px;
      overflow:hidden;
      background:$green;
      transition:all .5s;
      color:white;
      z-index:100;
      overflow:hidden;
      &.active{
        width: 100%;
        height: 100%;
        @include breakpoint(xs) {
          width: calc(100% - 70px);
        }
        .links{
          left:65%;
          opacity:1;
          @include breakpoint(md) {
            left:35%;
            top:44px;
          }
        }
      }
      .links{
        position:fixed;
        left:-100%;
        top:100px;
        opacity:0;
        transition:all .4s;
        .line{
          position:absolute;
          left:-130px;
          top: 25px;
          width: 100px;
          height: 1px;
          background:white;
          transition:top .3s;
          @include breakpoint(md) {
            display:none;
          }
          &.second{
            top:90px;
          }
          &.third{
            top:155px;
          }
          &.fourth{
            top:215px;
          }
          &.fifth{
            top:280px;
          }
          &.sixth{
            top:345px;
          }
        }
      }
      ul{
        display:block;
        width: 200px;
        li{
          width: 100%;
          padding-bottom:10px;
          a{
            color:white;
            @include publico-bold;
            font-size:36px;
            line-height: 1.5;
            &:hover{
              color:$mineShaft!important;
            }
          }
        }
      }

    }
    .menu{
      position:fixed;
      top:0;
      left:0;
      width: 70px;
      height: 115px;
      background:#262626;
      transition: height .5s;
      overflow:hidden;
      cursor:pointer;
      z-index:100;
      &.active{
        height: 100%;
        .icon-hamburger{
          left:120%;
        }
        .icon-X{
          left:20px;
        }
      }
      span{
        position:absolute;
        top:20px;
        left:20px;
        transition: all .5s;
      }
      .icon-X{
        left:-50px;
      }
      p{
        position:absolute;
        top:40px;
        left:11px;
        color:#545454;
        font-size:18px;
        transform: rotate(-90deg);
        line-height: 70px;
      }
    }
    #bars{
      &.active{
        left:20px;
      }
    }
    .colors{
      position:fixed;
      top:50%;
      left:-50px;
      margin-left:-8px;
      transition:left .5s;
      z-index:101;
      &.active{
        left:30px;
      }
      .circle{
        width: 16px;
        height: 16px;
        border:1px solid $green;
        border-radius:8px;
        margin-bottom:10px;
        cursor:pointer;
        &.active{
          background: $green;
          &.red{
            background: $red;
          }
          &.blue{
            background: $blue;
          }
        }
        &.red{
          border-color:$red;
        }
        &.blue{
          border-color: $blue;
        }
      }
    }
    .container{
      position:relative;
      height: 100%;
    }
    .text{
      position:absolute;
      width: 100%;
      height: 100%;
      .bck{
        position:absolute;
        top:0;
        width: 100%;
        height:100%;
        background-repeat: no-repeat;
        background-image: url("../img/cover_1.png");
        background-position:center;
        @include breakpoint(md) {
          background-size:90% auto;
        }
      }
      .headText{
        position:absolute;
        top:50%;
        margin-top:-200px;
        cursor:pointer;
        @include breakpoint(lg) {
      		left:50px;
      	}
        @include breakpoint(xs) {
      		left:70px;
          margin-top:-140px;
          h1{
            font-size:40px;
          }
          h2{

          }
      	}
      }
    }

    h1{
      font-size:55px;
      width: 300px;
      margin-bottom:30px;
      line-height: 1.3;
      @include publico-bold;
      @include breakpoint(xs) {
        width: 230px;
      }
    }
    h2{
      font-size:16px;
      line-height: 1.4;
      @include publico-bold;

    }
  }
  .sections{
    position:absolute;
    top:100%;
    left:0;
    width: 100%;
    padding: 50px 0 0;
    background:#232323;
    .goDown{
      cursor:pointer;
      position:absolute;
      top:-115px;
      width: 70px;
      height: 115px;
      background: $mineShaft;
      span{
        position:absolute;
        left:30px;
        top:80px;
        font-size:18px;
      }
      p{
        color:$dorado;
        font-size:18px;
        position:absolute;
        top:30px;
        left:15px;
        transform: rotate(-90deg);
      }
    }
    .section{
      padding-top:140px;
      @include breakpoint(md) {
        padding-top:0;
      }
      &.second{
        position:relative;
        @include breakpoint(md) {
          height: 600px;
          margin-top:50px;
          height:520px;
          @include breakpoint(sm) {
            height:450px;
          }
          .left{
            position:absolute;
            top:300px;
            width: 90%;
            @include breakpoint(sm) {
              top:240px;
            }
            @include breakpoint(xs) {
              top:180px;
            }
          }
          .right{
            position:absolute;
            top: 0;
            width:90%;
          }
        }
      }
    }
    .container{
      .right{
        @include breakpoint(md) {
          margin-bottom:100px;
        }
      }
      .left,.right{
        float:left;
        width: 50%;
        @include breakpoint(md) {
          width: 100%;
          margin: 0 auto;
        }
      }
      .left, .right{
        position:relative;
        .big{
          color:#373737;
          font-size:280px;
          line-height: 1;
          text-align:center;
          @include publico-bold;
          @include breakpoint(sm) {
            font-size:250px;
          }
          @include breakpoint(xs) {
            font-size:170px;
          }
        }
        .small{
          position:absolute;
          top:45%;
          left:50%;
          margin-top:-20px;
          font-size:24px;
          color:#545454;
          span{
            position:absolute;
            left:-120px;
            top:14px;
            display:block;
            width: 75px;
            height: 2px;
            background:$green;
          }
        }
      }
      .right, .left{
        h3{
          font-size:36px;
          line-height: 1.4;
          margin-bottom:25px;
          @include publico-bold;
          @include breakpoint(md) {
            font-size:30px;
            text-align:left;
          }
          @include breakpoint(sm) {
            font-size:25px;
          }
          @include breakpoint(xs) {
            font-size:20px;
          }
        }
        p{
          font-size:20px;
          line-height: 1.4;
          @include breakpoint(md) {
            font-size:18px;
            text-align:left;
          }
        }
      }
    }
    .program{
      margin-top:150px;
      display:block;
      width: 100%;
      height: 95px;
      background:#373737;
      padding:0 35px;
      text-decoration:none;
      color:$green;
      line-height: 95px;
      font-size:24px;
      @include breakpoint(xs) {
        font-size:16px;
        margin-top:50px;
      }
      &:hover{
        .inner{
          margin-right:-180px;
          @include breakpoint(xs) {
            margin-right:0;
          }
        }
      }
      .arrows{
        float:right;
        width: 150px;
        overflow:hidden;
        @include breakpoint(xs) {
          width: 100px;
        }
        .inner{
          float:right;
          width: 400px;
          transition:all .3s;

        }
        span{
          margin-left:100px;
          @include breakpoint(xs) {
            float: right;
            line-height: 95px;
          }
        }
      }
    }
  }
}
