@import "./mixins/responsiveMixin";
@import "./mixins/underlineLink";

.description {
  margin-bottom: 240px;
  margin-top: 240px;

  .content {
    margin-top: 50px;

    .info {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2.2px;
      font-weight: 900;
      margin-bottom: 25px;
    }

    .main {
      font-weight: 900;
      font-size: 58px;
      line-height: 1.1;

      @include breakpoint (xs) {
        font-size: 36px;
        line-height: 39px;
      }
      @include breakpoint (xxs) {
          font-size: 24px;
          line-height: 1.13;
      }
    }

    .smallText {
      margin-top: 48px;
      font-size: 18px;
      line-height: 27px;

      @include breakpoint (xs) {
        font-size: 16px;
        line-height: 32px;
      }

      @include breakpoint (xxs) {
          line-height: 1.69;
      }
    }
  }


  &.contact {
    margin-top: 30px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 0;

    p {
      margin-left: 60%;
    }

    .info {
      font-size: 14px;
      margin-bottom: 20px;
    }

    .follow {
      font-size: 14px;
      margin-top: 60px;
    }

    .designedBy {
      font-size: 12px;
      line-height: 16px;
      margin-top: 200px;
      margin-bottom: 40px;
    }

    a.underline {
      margin: 0 3px;
      display: inline-block;
      @include underlineLink;

    }

    .goUp {
      position: absolute;
      left: 30px;
      bottom: 30px;
      padding: 20px;
      transition: 300ms;

      &:hover {
        bottom: 33px;
        cursor: pointer;
      }
    }

    .copyright {
      position: absolute;
      bottom: 40px;
      right: 40px;
      margin-left: 0;
      font-size: 12px;

      @include breakpoint (xs) {
        position: static;
        margin-left: 60%;
      }
    }
  }
}