@import "./mixins/responsiveMixin";
@import "./mixins/underlineLink";

.description {
  margin-bottom: 240px;
  margin-top: 240px;
  transition: 600ms;

  &.hidden {
    opacity: 0;
    transform: translate(0, 100px);
  }

  .content {
    margin-top: 50px;

    .info {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2.2px;
      font-weight: 900;
      margin-bottom: 25px;
    }

    .main {
      font-weight: 900;
      font-size: 58px;
      line-height: 1.1;

      @include breakpoint (xs) {
        font-size: 36px;
        line-height: 39px;
      }
      @include breakpoint (xxs) {
          font-size: 24px;
          line-height: 27px;
      }
    }

    .smallText {
      margin-top: 48px;
      font-size: 18px;
      line-height: 27px;

      @include breakpoint (xs) {
        font-size: 16px;
        line-height: 32px;
      }

      @include breakpoint (xxs) {
          line-height: 1.69;
      }
    }
  }
}