@import "./mixins/responsiveMixin";

.eventWrapper:first-child .event .eventTitle {
  padding-top: 0;

  &.sticky {
    padding-top: 100px;

    @include breakpoint (xs) {
        padding-top: 60px;
    }
    @include breakpoint (xxs) {
        padding-top: 0;
    }
  }
}

.event {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
  .eventTitle {
    margin: 0;
    margin-left: 20%;
    font-size: 32px;
    padding-top: 100px;
    transition: opacity 300ms;

    &.sticky {
      @include breakpoint (xs) {
        padding-top: 60px;
      }
      @include breakpoint (xxs) {
        opacity: 0;
      }
    }



    @include breakpoint (xs) {
      font-size: 26px;
      padding-top: 60px;
      z-index: 20;
      background: $backgroundColor;
      display: inline-block;
      margin-left: 20px;
    }

    &.fixed {
      position: fixed;
      top: 100px;

      @include breakpoint (xs) {
        top: 80px;
      }
    }
  }

  .SingleEvent {
    display: inline-block;
    width: 18%;
    padding: 0 1%;
    margin-left: 60%;
    border-left: 1px solid black;
    margin-top: 30px;
    position: relative;
    min-height: 150px;

    .time {
      position: absolute;
      display: inline-block;
      width: 100px;
      transform-origin: right top;
      text-align: right;
      transform: rotate(270deg);
      top: 0;
      left: -130px;
    }

    .eventName {
      margin-bottom: 30px;

      img {
        position: absolute;
        top: 0;
        left: -640px;
        transition: opacity 300ms;
        opacity: 0;
        max-width: 400px;
        height: auto;
        z-index: 100;

        @media (max-width: 1100px) {
          display: none;
        }
      }

      span {
        font-weight: 900;
        font-size: 24px;
        line-height: 26px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;

        & + img {
            opacity: 1;
            visibility: visible;

            @include breakpoint (xxs) {
              display: none;
            }
          }
        }

        @include breakpoint (xs) {
          font-size: 21px;
        }
      }

      &.last {
        margin-bottom: 60px;
      }
    }

    .location {
      position: absolute;
      bottom: 0;
      text-transform: uppercase;
      font-size: 12px;

      .number {
        font-size: 16px;
      }
    }

    @include breakpoint (xs) {
      margin-left: 58%;
    }

    @include breakpoint (xxs) {
      margin-left: 18%;
      width: 50%;
    }
  }
}