@font-face {
  font-family: 'Zico Sans';
  src: url('../fonts/ZicoSans-Regular.eot');
  src: url('../fonts/ZicoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ZicoSans-Regular.woff2') format('woff2'),
    url('../fonts/ZicoSans-Regular.woff') format('woff'),
    url('../fonts/ZicoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zico Sans';
  src: url('../fonts/ZicoSans-Black.eot');
  src: url('../fonts/ZicoSans-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ZicoSans-Black.woff2') format('woff2'),
    url('../fonts/ZicoSans-Black.woff') format('woff'),
    url('../fonts/ZicoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Zico Sans';
  src: url('../fonts/ZicoSans-Bold.eot');
  src: url('../fonts/ZicoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ZicoSans-Bold.woff2') format('woff2'),
    url('../fonts/ZicoSans-Bold.woff') format('woff'),
    url('../fonts/ZicoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
