.grid {
  display: inline-block;
}

.grid1 {
  width: 18%;
  margin: 0 1%;

  &.no-margin-right {
    width: 29%;
    margin-left: 1%;
    margin-right: 0;
  }
}
.grid2 {
  width: 38%;
  margin: 0 1%;

    &.no-margin-right {
    width: 39%;
    margin-left: 1%;
    margin-right: 0;
  }
}

.grid3 {
  width: 58%;
  margin: 0 1%;

    &.no-margin-right {
    width: 59%;
    margin-left: 1%;
    margin-right: 0;
  }
}

.grid4 {
  width: 78%;
  margin: 0 1%;

    &.no-margin-right {
    width: 79%;
    margin-left: 1%;
    margin-right: 0;
  }
}

.grid5 {
  width: 98%;
  margin: 0 1%;

    &.no-margin-right {
    width: 99%;
    margin-left: 1%;
    margin-right: 0;
  }
}

.push-left-1 {
  margin-left: 19%;
}

.push-left-2 {
  margin-left: 39%;
}

.push-left-3 {
  margin-left: 59%;
}
