@import "./mixins/responsiveMixin";

.images {
  .wrapper {
    position: relative;
    display: inline-block;

    img { width: 100%; height: auto;}

    div {
      position: absolute;
      margin-left: 25px;
      margin-top: 25px;
      left: 50%;

      p {
        margin: 0;
        font-size: 12px;
        text-transform: uppercase;
        width: 100px;
      }

      @include breakpoint (xxs) {
        position: static;
        margin-left: 0;
        margin-top: 15px;
      }
    }

    &.image1 {
      margin-left: 10%;
      bottom: 40px;
      width: 25%;
    }

    &.image2 {
      margin-left: 30%;
      width: 30%;
    }

    &.image3 {
      display: block;
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: 30%;
      width: 18%;
    }

    &.image4 {
      width: 30%;
      margin-left: 40px;
    }

    &.image5 {
      width: 25%;
      margin-left: 35%;
      bottom: 40px;
    }

    &.image6 {
      display: block;
      width: 18%;
      margin-left: 51%;
      margin-top: 30px;
      margin-bottom: 240px;
    }
  }

  @include breakpoint (xs) {
    .wrapper {
      display: block;

    &.image1 {
      margin: 70px auto;
      width: 80%;
      bottom: 0;
    }

    &.image2 {
      margin: 70px auto;
      width: 80%;
    }

    &.image3 {
      margin: 70px auto;
      width: 80%;
    }

    &.image4 {
      margin: 70px auto;
      width: 80%;
    }

    &.image5 {
      margin: 70px auto;
      width: 80%;
      bottom: 0;
    }

    &.image6 {
      margin: 70px auto;
      width: 80%;
    }
    }
  }
}