@import "./variables";
@import "./grid";
@import "./fonts";
@import "./App";
@import "./Event";
@import "./Location";
@import "./Landing";
@import "./Description";
@import "./contact";
@import "./Images";
@import "./Schedule";
@import "./Loading";

* {
  box-sizing: border-box;
}
body {
  font-family: 'Zico Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: $textColor;
  background: $backgroundColor;
}


