@import "./mixins/responsiveMixin";

#schedule {
  .scheduleTitle {
    z-index: 100;
    position: relative;
    margin-left: 20%;
    display: inline-block;

    @include breakpoint (xs) {
      margin-left: 20px;
    }

    h1 {
      transition: opacity 300ms;
      padding-top: 20px;
      margin: 0;
      font-size: 58px;
      font-weight: 900;
      display: inline-block;
      background: $backgroundColor;
      
      @include breakpoint (xs) {
        font-size: 36px;
      }
    }

    &.sticky {
      @include breakpoint (xxs) {
        h1 {
          opacity: 0;
        }
      }
    }
  }
  .listWrapper {
    position: relative;
    z-index: 30;

    .list {
      letter-spacing: 1.8px;
      line-height: 32px;
      display: inline-block;
      font-size: 14px;
      position: absolute;
      left: 40px;
      z-index: 20;
      top: -60px;
      transition: opacity 300ms;

      span {
        text-transform: uppercase;
        display: block;
      }

      @include breakpoint (xs) {
        position: relative;
        left: 20px;
        top: 0;
        font-size: 12px;
      }
    }

    &.sticky .list {
      top: 30px;

      @include breakpoint (xs) {
        position: relative;
        left: 20px;
        top: 90px;
      }
      @include breakpoint (xxs) {
        opacity: 0;
        left: 20px;
        top: 0;
      }
    }
  }
}