@font-face {
  font-family: 'Publico Text Mono Web Roman';
  src: url('../../fonts/PublicoTextMono-Roman-Web.eot');
  src: url('../../fonts/PublicoTextMono-Roman-Web.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PublicoTextMono-Roman-Web.woff') format('woff'),
  url('../../fonts/PublicoTextMono-Roman-Web.ttf') format('truetype'),
  url('../../fonts/PublicoTextMono-Roman-Web.svg#Publico Text Mono Web Roman') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Publico Text Mono Web Bold';
  src: url('../../fonts/PublicoTextMono-Bold-Web.eot');
  src: url('../../fonts/PublicoTextMono-Bold-Web.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/PublicoTextMono-Bold-Web.woff') format('woff'),
  url('../../fonts/PublicoTextMono-Bold-Web.ttf') format('truetype'),
  url('../../fonts/PublicoTextMono-Bold-Web.svg#Publico Text Mono Web Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@mixin publico-normal() {
  font-family: 'Publico Text Mono Web Roman';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@mixin publico-bold() {
  font-family: 'Publico Text Mono Web Bold';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-848v0a');
	src:url('../../fonts/icomoon.eot?#iefix-848v0a') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-848v0a') format('woff'),
		url('../../fonts/icomoon.ttf?-848v0a') format('truetype'),
		url('../../fonts/icomoon.svg?-848v0a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
	content: "\e605";
}

.icon-arrow_down:before {
	content: "\e600";
}

.icon-arrow_mini_down:before {
	content: "\e601";
}

.icon-arrow_right:before {
	content: "\e602";
}

.icon-arrow_up:before {
	content: "\e603";
}

.icon-X:before {
	content: "\e604";
}
