<div class="guests">
  <div class="container">
    <div class="top" sticky sticky-class="active" media-query="min-width: 768px">
      <div class="line bgChange"></div>
      <h2>Festival su omogućili</h2>
      <div class="arrows">
        <a class="first hoverChange" ng-click="main.scrollTo('win')">Scroll down <span class="icon-arrow_down colorChange"></span></a>
        <a class="second hoverChange" ng-click="main.scrollTo(0)">Scroll up <span class="icon-arrow_up colorChange"></span></a>
      </div>
    </div>
    <div class="partners">
      <div class="heading">
        <div class="line"></div>
        <h3>Pokrovitelji</h3>
        <p>SZ UNIN uz potporu grada Varaždina.</p>
      </div>
      <div class="icons group">
        <div class="left">
          <div class="icon group">
            <a href="http://sz.unin.hr/" target="_blank">
              <img src="img/logos/studentskizbor.png" alt="">
            </a>
          </div>
          <div class="icon small group">
            <a href="http://mop-fest.com/" target="_blank">
              <img src="img/logos/udruga_mop.png" alt="">
            </a>
          </div>
        </div>
        <div class="right">
          <div class="icon">
            <a href="http://sz.unin.hr/" target="_blank">
              <img src="img/logos/unin.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.varazdin.hr/" target="_blank">
              <img src="img/logos/varazdin.png" alt="">
            </a>
          </div>
          <div class="icon big">
            <a href="http://mop-fest.com/" target="_blank">
              <img src="img/logos/udruga_mop.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="heading">
        <div class="line"></div>
        <h3>Partneri</h3>
        <p>Mediji, prijatelji i još neki!</p>
      </div>
      <div class="icons group">
        <div class="second">
          <div class="icon">
            <a href="http://dizajnsvakidan.com/" targer="_blank">
              <img src="img/logos/dsd.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="https://www.facebook.com/VRUMperformingartscollective" target="_blank">
              <img src="img/logos/vrum.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.kino-galerija.hr/" target="_blank">
              <img src="img/logos/galerija.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="https://www.hrvatskitelekom.hr/" target="_blank">
              <img src="img/logos/tmobile.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://radiona.org/" target="_blank">
              <img src="img/logos/radiona.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.degordian.com/" target="_blank">
              <img src="img/logos/degordian.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://five.agency/" target="_blank">
              <img src="img/logos/five.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="https://www.infinum.co/" target="_blank">
              <img src="img/logos/infinum.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.unity.hr/" target="_blank">
              <img src="img/logos/unity.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://404.agency/" target="_blank">
              <img src="img/logos/404.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://pressedan.hr/" target="_blank">
              <img src="img/logos/pressedan.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.broj42.com/" target="_blank">
              <img src="img/logos/42.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.poster.hr/" target="_blank">
              <img src="img/logos/poster.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.uxpassion.com/" target="_blank">
              <img src="img/logos/uxpassion.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://aktualno.hr/" target="_blank">
              <img src="img/logos/aktual.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.bug.hr/" target="_blank">
              <img src="img/logos/bug.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.kulturpunkt.hr/" target="_blank">
              <img src="img/logos/kulturapunkt.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.netokracija.com/" target="_blank">
              <img src="img/logos/netokracija.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.telegram.hr/" target="_blank">
              <img src="img/logos/telegram.png" alt="">
            </a>
          </div>
          <div class="icon">
            <a href="http://www.varazdinski.hr/" target="_blank">
              <img src="img/logos/varazdisnki.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include src="'main/views/footer.html'"></div>
</div>
