<div class="footer">
  <div class="container">
    <div class="foot group">
      <a href="" class="hoverChange tag">#mopfest</a>
      <ul class="old">
        <li><a  class="hoverChange" href="http://2013.mop-fest.com" target="_blank">MOP 02</a></li>
        <li class="divider bgChange"></li>
        <li><a class="hoverChange" href="http://2014.mop-fest.com" target="_blank">MOP 03</a></li>
      </ul>
    </div>
  </div>
  <div class="black">
    <div class="container group">
      <div class="ab">
        <p>© 2015. Made width ♥ <a class="hoverChange" href="https://www.facebook.com/fran.mubrin" target="_blank">Fran</a>, <a class="hoverChange" href="http://dinodsaur.us/" target="_blank">Dino</a> & <a class="hoverChange" href="http://markohrastovec.com/" target="_blank">Marko</a></p>
      </div>
      <ul class="social">
        <li>
          <a class="hoverChange" href="https://www.facebook.com/MOPfest" target="_blank">Facebook</a>
        </li>
        <li>
          <a class="hoverChange" href="https://github.com/dinodsaurus/MOP2015" target="_blank">Github</a>
        </li>
        <li>
          <a class="hoverChange" href="https://twitter.com/MOPFest" target="_blank">Twitter</a>
        </li>
        <li>
          <a class="hoverChange" href="https://instagram.com/mopfest/" target="_blank">Instagram</a>
        </li>
        <li>
          <a class="hoverChange" href="https://vimeo.com/mopfest" target="_blank">Vimeo</a>
        </li>
      </ul>
    </div>
  </div>
</div>
