<div class="sections">
  <div class="goDown" ng-click="main.scrollTo('win0')">
    <span class="icon-arrow_mini_down colorChange"></span>
    <p>2015</p>
  </div>
  <div class="section group">
    <div class="container group">
      <div class="left">
        <p class="big ">01</p>
        <p class="small"><span class="bgChange"></span>fokus</p>
      </div>
      <div class="right">
        <h3 class="colorChange">FOKUS NA DIGITALNE MEDIJE KROZ PRIKAZ DIGITALNOG STVARALAŠTVA</h3>
        <p class="colorChange">MOP Festival se u svim svojim segmentima fokusira na digitalne medije i sve načine digitalnog stvaralaštva.</p>
      </div>
    </div>
  </div>
  <div class="section group second">
    <div class="container group">
      <div class="left">
        <h3 class="colorChange">POTICAJ I RAZVOJ MULTIMEDIJALNE KULTURE MEĐU MLADIMA</h3>
        <p class="colorChange">Cjelokupni sadržaj festivala orijentiran je na razvoj studentske populacije u području multimedije, oblikovanja i primjene.</p>
      </div>
      <div class="right">
        <p class="big ">02</p>
        <p class="small"><span class="bgChange"></span>razvoj</p>
      </div>
    </div>
  </div>
  <div class="section group">
    <div class="container group">
      <div class="left">
        <p class="big ">03</p>
        <p class="small"><span class="bgChange"></span>zajednica</p>
      </div>
      <div class="right">
        <h3 class="colorChange">POVEZIVANJE MULTIMEDIJALNE ZAJEDNICE, RAZMJENA ZNANJA I STJECANJE ISKUSTVA</h3>
        <p class="colorChange">Cilj je postići stalnu aktivaciju studenata, multimedijalnih umjetnika i profesionalaca iz struke te realizirati razmjenu njihovih znanja.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <a ui-sref="main.schedule" class="program colorChange">Program 2015
    <div class="arrows">
      <div class="inner">
        <span class="icon-arrow_right"></span>
        <span class="icon-arrow_right"></span>
      </div>
    </div>
    </a>
  </div>
  <div ng-include src="'main/views/footer.html'"></div>
</div>
